<p>Hello <%= current_user.name %></p>
<h1>Projects</h1>
<%= link_to('Create Project', new_project_path) %>
<hr />
<div>
	<%= render @projects %>
</div>
<hr />
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>